.baikal__website{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    max-width: 456px;
    min-height: 46px;
}
@media screen and (min-width: 1124px){
    .baikal__website{
        display: flex;
        justify-content:flex-end;
        flex-direction: column;
        max-width: 456px;
        min-height: 46px;
    }
}
@media screen and (max-width: 984px){
    .baikal__website{
        display: flex;
        justify-content:flex-end;
        flex-direction: column;
        max-width: 352px;
        min-height: 46px;
    }   
}
@media screen and (max-width: 568px){
    .baikal__website{
        display: flex;
        justify-content:flex-end;
        flex-direction: column;
        width: 288px;
        min-height: 46px;
    }  
}