.kolsky{
    margin: 0;
    max-width: 984px;
    min-height: 584px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 76px 460px;
    grid-column-gap: 40px;
    grid-row-gap: 48px;   
}
@media screen and (max-width: 1124px){
    .kolsky{
        max-width: 928px;
        min-height: 564px;
        grid-template-columns: 440px 456px;
        grid-template-rows: 76px 440px;
        grid-column-gap: 32px;
    }
}
@media screen and (max-width: 984px){
    .kolsky{
        max-width: 720px;
        min-height: 535px;
        grid-template-columns: 340px 352px;
        grid-template-rows: 46px 441px;
        grid-column-gap: 28px;
    }     
}
@media screen and (max-width: 745px){
    .kolsky{grid-column-gap: 0px;
    }
}
@media screen and (max-width: 695px){
    .kolsky{
        max-width: 320px;
        min-height: 1016px;
        grid-template-columns: 320px;
        grid-template-rows: 35px 46px 320px 519px;
        grid-row-gap: 32px;
        justify-items: center;
    }
}