.page{
    max-width: 1024px;
    min-height: 6895px;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    background: #2A2C2F;
    color: #FFFFFF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}   
@media screen and (min-width: 1124px){
    .page{
        max-width: 1280px;
        min-height: 6875px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 984px){
    .page{
        max-width: 768px;
        min-height: 6855px;
        margin: 0 auto;
    }    
}
@media screen and (max-width: 568px){
    .page{
        max-width: 320px;
        min-height: 10023px;
        margin: 0 auto;
    }
}