.kolsky__paragraph-last{
    max-width: 484px;
    min-height: 261px;
    margin: 0;
}
@media screen and (max-width: 1124px){
    .kolsky__paragraph-last{
        max-width: 456px;
        min-height: 293px; 
    }
}
@media screen and (max-width: 984px){
    .kolsky__paragraph-last{
        max-width: 352px;
        min-height: 286px;
    }
}
@media screen and (max-width: 568px){
    .kolsky__paragraph-last{
        max-width: 288px;
        min-height: 338px;
    }
}
