.cover__subtitle{
    max-width: 360px;
    min-height: 66px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 32px;
    z-index: 2;
}
@media screen and (min-width: 1124px){
    .cover__subtitle{
        max-width: 360px;
        min-height: 66px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-top: 32px;
        z-index: 2;
    } 
}
@media screen and (max-width: 984px){
    .cover__subtitle{
        max-width: 360px;
        min-height: 66px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-top: 32px;
        z-index: 2;
    }    
}
@media screen and (max-width: 568px){
    .cover__subtitle{
        max-width: 288px;
        min-height: 48px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-top: 16px;
        z-index: 2;
    }
}