.content{
    margin-bottom: 92px;
}
@media screen and (max-width: 984px){
    .content{
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 568px){
    .content{
        margin-bottom: 64px;
    }
}
