.baikal__website-link{
    margin: 0;
    max-width: 456px;
    min-height: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
@media screen and (max-width: 984px){
    .baikal__website-link{
        max-width: 352px;
    }   
}
@media screen and (max-width: 695px){
    .baikal__website-link{
        max-width: 288px;
    }
}
.baikal__website-link:hover{
    color: #FFFFFF;
    opacity: 0.8;
}