.cover{
    max-width: 1024px;
    min-height: 640px;
    background-image: url(../../images/sprint-3-images/cover-trains.jpg);
    background-size: 100%;
    z-index: -1;
    margin: 92px auto 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 1124px){
    .cover{
        max-width: 1184px;
        min-height: 740px;
        background-image: url(../../images/sprint-3-images/cover-trains.jpg);
        background-size: 100%;
        z-index: -1;
        margin: 92px auto 92px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 984px){
    .cover{
        max-width: 768px;
        min-height: 480px;
        background-image: url(../../images/sprint-3-images/cover-trains.jpg);
        background-size: 100%;
        z-index: -1;
        margin: 88px auto 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 568px){
    .cover{
        max-width: 320px;
        min-height: 200px;
        background-image: url(../../images/sprint-3-images/cover-trains.jpg);
        background-size: 100%;
        z-index: -1;
        margin: 66px auto 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }  
}
   