.kosa__paragraph-first{
    max-width: 484px;
    min-height: 145px;
    margin: 0 0 26px;
}
@media screen and (max-width: 1124px){
    .kosa__paragraph-first{
        max-width: 456px;
        min-height: 174px;
        margin: 0 0 27px;
    }  
}
@media screen and (max-width: 984px){
    .kosa__paragraph-first{
        max-width: 352px;
        min-height: 182px;
        margin: 0 0 25px;
    }     
}
@media screen and (max-width: 568px){
    .kosa__paragraph-first{
        max-width: 288px;
        min-height: 208px;
        margin: 0 0 25px;
    }   
}