.kolsky__paragraph-first{
    max-width: 484px;
    min-height: 116px;
    margin: 0 0 26px;
}
@media screen and (max-width: 1124px){
    .kolsky__paragraph-first{
        max-width: 456px;
    }
}
@media screen and (max-width: 984px){
    .kolsky__paragraph-first{
        max-width: 352px;
        min-height: 130px;
        margin: 0 0 25px;
    }
}
@media screen and (max-width: 568px){
    .kolsky__paragraph-first{
        max-width: 286px;
        min-height: 156px;
        margin: 0 0 25px;
    }   
}