.footer{
    max-width: 1184px;
    min-height: 18px;
    margin: 0 48px 24px;
    font-weight: 400;
    display: flex;
    position: relative;
    box-sizing: border-box;
}
@media screen and (max-width: 1124px){
    .footer{
        max-width: 928px;
    }
}
@media screen and (max-width: 984px){
    .footer{
        max-width: 720px;
        margin: 0 24px 24px;
    }
}
@media screen and (max-width: 650px){
    .footer{
        display: flex;
        max-width: 186px;
        min-height: 320px;
        margin: 0 118px 24px 16px;
        flex-direction: column;
    }  
}