.footer{
    max-width: 100%;
    min-height: 18px;
    margin: 0 48px 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
@media screen and (max-width: 1124px){
    .footer{
        
    }
}
@media screen and (max-width: 984px){
    .footer{
        
        margin: 0 24px 24px;
    }
}
@media screen and (max-width: 680px){
    .footer{
        max-width: 186px;
        min-height: 310px;
        margin: 0 118px 24px 16px;
        flex-direction: column;
    }  
}