.kosa__paragraph-last{
    max-width: 456px;
    min-height: 232px;
    margin: 0;
}
@media screen and (min-width: 1124px){
    .kosa__paragraph-last{
        max-width: 484px;
        min-height: 203px;
        margin: 0;
    }
}
@media screen and (max-width: 984px){
    .kosa__paragraph-last{
        max-width: 352px;
        min-height: 234px;
        margin: 0;
    }     
}
@media screen and (max-width: 568px){
    .kosa__paragraph-last{
        max-width: 288px;
        min-height: 312px;
        margin: 0;
    }   
}
