.header__lang-ru{
    max-width: 30px;
    min-height: 28px;
    color: white;
    text-decoration-line: underline;
 
}
@media screen and (max-width: 568px){
    .header__lang-ru{
        max-width: 22px;
        min-height: 20px;
    }
}