.place__website-url{
    max-width: 456px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-top: 0;
    margin-bottom: 12px;
}
@media screen and (max-width: 984px){
    .place__website-url{
        max-width: 352px;
    }   
}
@media screen and (max-width: 695px){
    .place__website-url{
        max-width: 288px;
    }
}