.baikal__paragraph-last{
    max-width: 484px;
    min-height: 203px;
    margin: 0;
}
@media screen and (max-width: 1124px){
    .baikal__paragraph-last{
        max-width: 456px;
    }
}
@media screen and (max-width: 984px){
    .baikal__paragraph-last{
        max-width: 352px;
        min-height: 208px;
    } 
}
@media screen and (max-width: 568px){
    .baikal__paragraph-last{
        max-width: 288px;
        min-height: 286px;
    } 
}